@page
@model UserAuthRazorPageTest.Pages.LoginAccess.RecuperarPasswordModel
@{
  ViewData["Title"] = "Recuperar Contraseña";
}

<div class="row center">
  <div class="col-md-12">
    <form method="post">
      <fieldset>
        <legend>Recuperar Contraseña</legend>

        <div class="row">
          <!-- CORREO DE USUARIO -->
          <div class="col-md-3">
            <label class="control-label">
              Usuario:
              <input asp-for="Correo" type="text" class="form-control" />
              <span asp-validation-for="Correo" class="text-danger"></span>
            </label>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>